.cookie-consent {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #333;
    color: #f10505;
    text-align: center;
}

#aceptarCookies {
    background-color: #4CAF50;
    color: rgb(7, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
